@page "/data/people"

@using DataAccessLibrary
@using DataAccessLibrary.Models
@using BlazorServerApp.Models

@inject IPeopleData _peopleData

<h3>People Page</h3>

<h4>Insert New Person</h4>
<EditForm class="form-group" Model="@_newPerson" OnValidSubmit="InsertPerson">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div class="form-row">
        <div class="col">
            <InputText class="form-control" placeholder="First Name" id="firstName" @bind-Value="_newPerson.FirstName" />
        </div>
        <div class="col">
            <InputText class="form-control" placeholder="Last Name" id="lastName" @bind-Value="_newPerson.LastName" />
        </div>
        <div class="col">
            <InputText class="form-control" placeholder="E-Mail Address" id="emailAddress" @bind-Value="_newPerson.EmailAddress" />
        </div>
    </div>

    <div class="form-row">
        <div class="col">
            <button type="submit" class="btn btn-primary mt-2">Submit</button>
        </div>
    </div>
</EditForm>

<h4>Current People</h4>
@if (_people == null)
{
    <p>
        <div class="spinner-border"></div>
        <em>Loading...</em>
    </p>
}
else
{
    <table class="table table-striped">
        <thead>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email Address</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var person in _people)
            {
                <tr>
                    <td>@person.FirstName</td>
                    <td>@person.LastName</td>
                    <td>@person.EmailAddress</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private List<Person> _people;
    private DisplayPerson _newPerson = new DisplayPerson();

    protected override async Task OnInitializedAsync()
    {
        _people = await _peopleData.GetPeople();
    }

    private async Task InsertPerson()
    {
        Person p = new Person()
        {
            FirstName = _newPerson.FirstName,
            LastName = _newPerson.LastName,
            EmailAddress = _newPerson.EmailAddress,
        };

        await _peopleData.InsertPerson(p);

        _people.Add(p);

        _newPerson = new DisplayPerson();
    }
}
