@page "/"

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />

<div class="row">
    <div class="col-md-4">
        <TaskList Name="Binku" />
    </div>
    <div class="col-md-4">
        <TaskList Name="Kumin" />
    </div>
    <div class="col-md-4">
        <TaskList Name="Pewkip" />
    </div>
</div>
