@page "/about"

    <div class="main">
        <div class="shadow p-3 mb-5 bg-white rounded">
            <p>
                So this was built based on the Blazor-workshop by .NET Foundation:
                <a style="word-wrap: break-word;" href="https://aka.ms/blazorworkshop" target="_blank">
                    https://aka.ms/blazorworkshop
                </a>
            </p>
        </div>

        <div class="shadow p-3 mb-5 bg-white rounded">
            <p>
                I published my whole completed project on Github:
                <a  style="word-wrap: break-word;" href="https://github.com/UdaraAlwis/Blazor-Playground/tree/master/BlazingPizzaApp" target="_blank">
                    https://github.com/UdaraAlwis/Blazor-Playground/tree/master/BlazingPizzaApp
                </a>
            </p>
        </div>

        <div class="shadow p-3 mb-5 bg-white rounded">
            <p>
                Oh and I wrote a blog post as well, Welcome to my Blazing Pizza Store!:
                <a  style="word-wrap: break-word;" href="https://theconfuzedsourcecode.wordpress.com/2020/06/02/welcome-to-my-blazing-pizza-store/" target="_blank">
                    https://theconfuzedsourcecode.wordpress.com/2020/06/02/welcome-to-my-blazing-pizza-store/
                </a>
            </p>
        </div>
    </div>

    @code {

    }
